
 <!--this will apear for not logged users-->
 <main role="main">
     <section class="jumbotron text-center">
         <div class="container-fluid">
            <h1 class="jumbotron-heading">
                Hello user!
            </h1>
            <p class="lead text-muted"> welcome to our new tour application. Please log in for maximum enjoyment.</p>
            <p>
                <input type="button" class="btn btn-primary my-2" value="Login" ng-click="moveLog()">
                <input type="button" class="btn btn-primary my-2" value="Register" ng-click="moveReg()">
            </p>
         </div>
     </section>

     <div class="album py-5 bg-light" >
         <div class="container">
             <div class="row">
                    <div style="margin: 5px;width: 278px;" class="card mb-4 box-shadow" ng-repeat="p in randPois">
                        <img class="card-img-top" data-ng-src="{{p.PoiPic}}" ng-click="getPoi(p)" class="img-thumbnail" href="#{{$index}}-modal" data-toggle="modal" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-text title" style="width: 285px; font-weight: bold; font-size: 1.2em; color: rgb(22, 22, 100);">{{p.PoiName}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                         <div id="{{$index}}-modal" class="modal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            
                                                            <h4 class="modal-title text-left">{{p.PoiName}}</h4>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <img ng-src="{{p.PoiPic}}" class="modal-pic img-rounded"></img>
                                                            <p>Rating: {{p.Rating}}</p>
                                                            <p>Num Of Ranks: {{p.numOfRanks}}</p>
                                                            <p>{{p.desc}}</p>
                                                            <p>Num Of Views: {{p.numOfViews}}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div> 
             </div>
         </div>
     </div>
 </main>
