<div ng-controller="homeCtrl" class="content">
    <!--this will apear for not logged users-->
    <div >
        <h1>Hello user, welcome to our new tour application. <br>
            Please log in for maximum enjoyment.
        </h1>
        <input type="button" value="Login" ng-click="moveLog()">
        <input type="button" value="Register" ng-click="moveReg()">

        <hr>
        <h1>Explore:</h1>
        <div ng-repeat="poi in randPois">
            <h2 ng-click="showPoi(poi)">{{poi.PoiName}}</h2>
            <img ng-src="{{poi.PoiPic}}" >           
        </div>
    

    </div>
</div>

