<div class ="container-fluid">
    <div class="row">
            <div ng-controller="poiTableCtrl" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h2 class="text-center">Explore:</h2>
                <button ng-click="order = 'Category'">Order by category</button>
                <button ng-click="order = '-Rating'">Order by rating</button>
                <input type="text" ng-model="search" placeholder="Search for POI">
                <!--
                 <table>
                 <tr><th>Name</th><th>Category</th><th>Rating</th></tr>
                        
                  <tr ng-repeat="p in Pois | orderBy: order | filter: search">
                          <td>{{p.PoiName}}</td><td>{{p.Category}}</td><td>{{p.Rating}}</td></tr>
                </table>
                 -->
                 <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                              <th>Name</th>
                              <th>Category</th>
                             <th>Rating</th>
                         </tr>
                         </thead>
                        <tbody>
                            <tr ng-repeat="p in Pois | orderBy: order | filter: search">
                                <td>
                                    {{p.PoiName}}
                                </td>
                                <td>
                                    {{p.Category}}
                                </td>
                                <td>
                                    {{p.Rating}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
