<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">
            About Tokyo:
        </h1>
        <p class="lead text-muted">Tokyo Metropolis (東京都 Tōkyō-to), is one of the 47 prefectures of Japan and has been the capital since 1869.  The Greater Tokyo Area is the most populous metropolitan area in the world. It is the seat of the Emperor of Japan, the Japanese government and the National Diet. Tokyo was formerly named Edo when Shōgun Tokugawa Ieyasu made the city as his headquarters in 1603. It became the capital after Emperor Meiji moved his seat to the city from Kyoto in 1868; at that time Edo was renamed Tokyo.</p>
        <img src="components\resources\tokyo_1.jpg" alt="Avatar" style="width: 250px;height: 200px; margin-right: 5%; border-radius: 10%;" ></img>
        <img src="components\resources\tokyo_2.jpg" alt="Avatar" style="width: 250px;height: 200px; margin-left: 5%; border-radius: 10%"></img>
    </div>
</section>
   
    

