<div class="container-fluid" ng-controller="favoriteCtrl">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center">Favorites:</h2>
            <button class="btn btn-lg btn-primary" ng-click="order = 'Category'">Order by category</button>
            <button class="btn btn-lg btn-primary" ng-click="order =''">Clear Sort</button>
            <div class="table-responsive">
                    <table class="table table-striped table-sm">
                            <thead>
                                     <tr>
                                        <td>POI name:</td>
                                        <td>Category:</td>
                                        <td>Rating:</td>
                                        <td>Change Order</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="poi in savedPOI | orderBy: order"  id="{{poi}}">
                                        <td>{{poi.PoiName}}</td>
                                        <td>{{poi.Category}}</td>
                                        <td>{{poi.Rating}}</td>
                                        <td>
                                            <button class="btn btn-lg btn-primary" ng-click="moveUp($index)">Move Up</button>
                                            <button class="btn btn-lg btn-primary" ng-click="moveDown($index)">Move Down</button>
                                        </td>
                                    </tr>
                                </tbody>
                    </table>
            </div>
            <div >   
                <button class="btn btn-lg btn-primary" ng-click="saveChanges()">Save Changes</button>
            </div>
        </div>
    </div>
</div>
